* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; 

}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, rgba(251, 194, 235, 0.5) 100%), url(../img/portada4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;

}
/* menú nuevo*/
nav{
    text-align: right;
    padding: 20px 200px 0 0;
}
nav li{
    display:inline-block;
    text-align: center;
    padding:5px 10px;
    position: relative;
}

#submenu{
    transition: all 600ms;
}
nav li>ul{
    display:none;
    text-align: left;
    width: 220px;
}

nav li:hover>ul{
    display:block;
    position:absolute;
    top:30px;
    left:0px;
}

nav  li>a{
    color: #9f8ad0;
    font-weight: 400;
    /*font-weight: bold;*/
    text-decoration: none;
    margin-right: 20px;
}
nav li>a:hover{
    color: #fff;
    font-weight: normal;
    width: 300px;
}

#ctn-icon-search{
    position: absolute;
    /*z-index: 10;*/
    top: 28px;
    right: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctn-icon-search i{
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: all 300ms;
}
#ctn-icon-search i:hover{
    /*color: #46a2fd;*/
    color: #9f8ad0;
}
#ctn-bars-search{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}
#ctn-bars-search input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
    
}

/* menú nuevo*/
.titulo{
    font-family: 'Cormorant Unicase', serif;
    font-size: 80px;
    margin-bottom: 15px;
    text-shadow: 3px 3px 3px #000;
    /* #764ba2*/
    
}
.copy{
    font-weight: 400;
    font-size: 35px;
    text-shadow: 3px 3px 3px #000;

}

/* Botón de ir arriba */
#button-up{
    width: 35px;
    height: 35px;
    background:#FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9f8ad0;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 45px;
    right: 40px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}
#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, .1);
}

/*Primera parte Contenido*/

.tituloParte1{
    color: #764ba2;
    text-shadow: .5px .5px .5px #000;
    margin-left: 70px;
    margin-top: 10px;
}
.historiaParte1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr .75fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 500px;
    background: #e8e3e7;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid;
    border-top-color: #9f8ad0;
    border-bottom: solid;
    border-bottom-color: #9f8ad0;
    box-shadow: .5px .5px .5px #764ba2;
   
}

.textoParte1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
}
.textoParte1{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
  
}
.textoParte1 p{
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.textoParte1 .tramitesLista > li{
    font-weight: 300;
    font-size: 20px;
    margin-left: 50px;
}
.imgParte1{
    grid-column-start: 3;
    grid-column-end: 4; 
    grid-row-start: 1;
    grid-row-end: 2; 
}
.imgParte1{
    display:inline-block;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding: 10px;
}
.imgParte1 img{
    height: 210px;
    width: 210px;
    padding: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 0.20px;
    border-color: #dde1e4;
    box-shadow: 1px 1px 1px rgb(112, 110, 110);
    border-radius: 5px;
    cursor: pointer;
}
.imgParte1 img:hover{
    height: 215px;
    width: 215px;
    cursor: pointer;
}
.imgParte1 h3{
    font-weight: 300;
    font-size: 12px;
    padding-left:35px;
    text-shadow: 0.25px 0.25px 0.25px #000;
    margin-bottom: 5px;
    font-weight: bold;
}


/*Segunda parte contenido*/

.textoParte2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3; 
}
.textoParte2{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
  
}
.textoParte2 p{
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 90px;
}

/*tercera parte Contenido*/
.historiaParte3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 500px;
    background: #e8e3e7;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid;
    border-top-color: #9f8ad0;
    border-bottom: solid;
    border-bottom-color: #9f8ad0;
    box-shadow: .5px .5px .5px #764ba2;
    
}
.imgParte3-1{
    grid-column-start: 1;
    grid-column-end: 1; 
    grid-row-start: 1;
    grid-row-end: 1; 
}

.imgParte3-2{
    grid-column-start: 2;
    grid-column-end: 2; 
    grid-row-start: 1;
    grid-row-end: 1; 
}
.imgParte3-3{
    grid-column-start: 3;
    grid-column-end: 3; 
    grid-row-start: 1;
    grid-row-end: 1; 
}
.imgParte3-1, .imgParte3-2, .imgParte3-3{
    /*display:inline-block;*/
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    padding: 10px;
}
.imgParte3-1 img{
    height: 350px;
    width: 350px;
    padding: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 0.20px;
    border-color: #dde1e4;
    box-shadow: 1px 1px 1px rgb(112, 110, 110);
    border-radius: 5px;
}

.imgParte3-1 h3{
    font-weight: 300;
    font-size: 18px;
    padding-left:85px;
    color: #764ba2;
    text-shadow: 0.5px 0.5px 0.5px #000;
    margin-bottom: 5px;
    font-weight: bold;
}
.imgParte3-2 img{
    height: 350px;
    width: 350px;
    padding: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 0.20px;
    border-color: #dde1e4;
    box-shadow: 1px 1px 1px rgb(112, 110, 110);
    border-radius: 5px;
}

.imgParte3-2 h3{
    font-weight: 300;
    font-size: 18px;
    padding-left:85px;
    color: #764ba2;
    text-shadow: 0.5px 0.5px 0.5px #000;
    margin-bottom: 5px;
    font-weight: bold;
}
.imgParte3-3 img{
    height: 350px;
    width: 350px;
    padding: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 0.20px;
    border-color: #dde1e4;
    box-shadow: 1px 1px 1px rgb(112, 110, 110);
    border-radius: 5px;
}

.imgParte3-3 h3{
    font-weight: 300;
    font-size: 18px;
    padding-left:85px;
    color: #764ba2;
    text-shadow: 0.5px 0.5px 0.5px #000;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Footer*/
footer{
    background: #9f8ad0;
    padding-bottom: 0.1px;
    /*border: 1px solid #000;*/
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.escudo{
    width: 10%;
    height: 10%;
    justify-content: flex-start;

}
.escudo img{
    width: 100%;
    height: 100%;
}

.contact-us{
    width: 40%;
    color: #fff;
}

.contact-us h2{
font-family: 'Cormorant Unicase', serif;
text-shadow: 1px 1px 1px #000;
}
.brand{
    font-weight: 500;
    font-size: 30px;
}
.brand+p{
    font-weight: 500;
    text-shadow: 1px 1px 1px #000;

}
.direction{
    padding-top: 10px;
}
.direction, .phone{
    font-weight: 500;
    font-size: 10px;
}
.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover {
    background: #fff;
    color: #764ba2;
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    min-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}




